<button
    class="bg-teal-600 hover:bg-teal-700 text-white text-[16px] font-bold py-[5px] px-[10px] rounded-[5px]"
    @onclick="OnClick">
    @Label
</button>

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClick { get; set; }
}