.idea
.fleet
src/Database/bin/
src/Database/obj/
src/Domain/bin/
src/Domain/obj/
src/Web/bin/
src/Web/obj/
src/Web/tmp/
src/Web/Build-and-Publish.sh
src/Web/package.json
src/Web/package-lock.json
src/Web/node_modules/
src/Web/wwwroot/css/app.css
