<footer class="flex bg-neutral-100 dark:bg-neutral-900 items-center justify-between h-[30px] shadow-top dark:shadow-none">
    <span class="text-[12px] font-bold px-[10px] text-neutral-600 dark:text-neutral-400">Версия 0.4</span>
    <div class="flex">
        <a class="text-[12px] font-bold px-[10px] text-neutral-600 dark:text-neutral-400" href="https://github.com/Neitralov/MovieReviewLib">GitHub</a>
        <span class="text-neutral-400 text-[12px]">|</span>
        <a class="text-[12px] font-bold px-[10px] text-neutral-600 dark:text-neutral-400" href="https://github.com/Neitralov/MovieReviewLib/blob/master/LICENSE">MIT License</a>
    </div>
</footer>