<footer class="flex bg-neutral-900 items-center justify-between h-[30px] sticky bottom-0">
    <span class="text-[12px] font-bold px-[10px] text-neutral-400">Версия 0.1</span>
    <div class="flex">
        <a class="text-[12px] font-bold px-[10px] text-neutral-400" href="https://github.com/Neitralov/MovieReviewLib">GitHub</a>
        <span class="text-neutral-400 text-[12px]">|</span>
        <!--<a class="footer__link">Руководство</a>-->
        <a class="text-[12px] font-bold px-[10px] text-neutral-400" href="https://github.com/Neitralov/MovieReviewLib/blob/master/LICENSE">MIT License</a>
    </div>
</footer>