@inject NavigationManager NavigationManager

<header class="bg-neutral-900 h-[100px] flex sticky top-0 px-[50px] py-[25px]">
    <h1 class="leading-[50px] text-[32px] font-bold text-white inline-block">MovieReviewLib</h1>
    <input class="h-[50px] mx-[25px] bg-neutral-800 text-neutral-100 placeholder-neutral-400 w-full indent-[20px] rounded-[5px] text-[16px] bold" type="text" placeholder="Введите название фильма..." @bind="Name" @bind:event="oninput" @onkeydown="FindMovie"/>
    <button class="bg-emerald-600 hover:bg-emerald-700 text-white rounded-[5px] cursor-pointer text-[24px] font-bold px-[40px]" @onclick="OpenMovieEditor">Добавить</button>
</header>

@code {
    private string? Name { get; set; }

    private void FindMovie(KeyboardEventArgs args)
    {
        if (args.Code is not "Enter")
            return;

        NavigationManager.NavigateTo(string.IsNullOrWhiteSpace(Name) ? "/" : $"/FoundMovies/?Name={Name}");
    } 
    
    private void OpenMovieEditor() => NavigationManager.NavigateTo("/Movie");
}