@inject NavigationManager NavigationManager

<header class="bg-neutral-100 dark:bg-neutral-900 flex sticky top-0 px-[50px] py-[25px] pb-0 z-10">
    <h1 class="leading-[50px] text-[32px] font-bold text-neutral-950 dark:text-white inline-block">MovieReviewLib</h1>
    <SearchLine @ref="SearchLine"/>
    <button class="bg-teal-600 hover:bg-teal-700 text-white rounded-[5px] cursor-pointer text-[24px] font-bold px-[40px]" @onclick="OpenMovieEditor">Добавить</button>
</header>

@code {

    private void OpenMovieEditor() => NavigationManager.NavigateTo("/Movie");

    public SearchLine? SearchLine { get; set; }

}