<nav class="flex justify-between items-center sticky top-[75px] bg-neutral-100 dark:bg-neutral-900 h-[60px] px-[50px] shadow dark:shadow-none z-10">
    <div>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Просмотренные</NavLink>
        <span class="text-neutral-400 mx-[10px]">|</span>
        <NavLink class="nav-link" href="WatchLater">Отложенные</NavLink>
        <span class="text-neutral-400 mx-[10px]">|</span>
        <NavLink class="nav-link" href="Statistics">Статистика</NavLink>
    </div>
    <div>
        <DarkThemeToggle/>
    </div>
</nav>