<nav class="bg-neutral-900 flex h-[45px] items-start px-[40px]">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Просмотренные</NavLink>
    <span class="text-neutral-400">|</span>
    <NavLink class="nav-link" href="WatchLater">Отложенные</NavLink>
    <span class="text-neutral-400">|</span>
    <NavLink class="nav-link" href="Statistics">Статистика</NavLink>
</nav>