<div>
    <h2 class="text-[16px] font-bold text-neutral-950 dark:text-white mb-[5px]">
        @Label
    </h2>
    <p class="text-[16px] font-bold text-neutral-600 dark:text-neutral-400 bg-neutral-200 dark:bg-neutral-900 py-[5px] px-[10px] rounded-[5px] block mb-[5px]">
        @Text
    </p>
</div>

@code {

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Text { get; set; } = string.Empty;

}