<details class="bg-neutral-200 dark:bg-neutral-900 rounded-[5px] mb-[5px]">
    <summary class="text-[16px] font-bold text-neutral-950 dark:text-white py-[5px] px-[10px]">
        @Label
    </summary>
    <div class="p-[10px]">
        <ol>
            @ChildContent
        </ol>
    </div>
</details>

@code {

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

}