.data-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--main-text);    
}

.data-value {
    font-size: 16px;
    font-weight: bold;
    background-color: var(--main-color);
    color: var(--secondary-text);
    padding: 5px 10px;
    border-radius: 5px;
}

.statistic-group {
    margin-bottom: 20px;
}

.statistic-group:nth-last-child(1) {
    margin-bottom: unset;
}

.statistic-group__title {
    margin-bottom: 5px;
}

.statistic-group__data {
    margin-bottom: 5px;
}

.details {
    background-color: var(--main-color);
    border-radius: 5px;
    margin-bottom: 5px;
}

.details__container {
    padding: 10px;
}

.details__summary {
    padding: 5px 10px;
}

.details__title {
    margin-bottom: 5px;
}

.details__data {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--background-color);
    color: var(--secondary-text);
    padding: 5px 10px;
    border-radius: 5px;    
}

.details__list-item {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--background-color);
    color: var(--secondary-text);
    padding: 5px 10px;
    border-radius: 5px;
    list-style-position: inside;
}