@page "/FoundMovies/{Name?}"
@inject DatabaseContext DatabaseContext

<PageTitle>Найденные фильмы</PageTitle>

@if (FoundMovie() is { Count: not 0 } movie)
{
    <MovieGrid Movies="@movie"/>
}
else
{
    <div class="flex justify-center items-center text-neutral-600 dark:text-neutral-400 font-bold text-[18px] grow mt-[20px]">
        По вашему запросу ничего не найдено :(
    </div>
}

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Name { get; set; }

    private List<Movie> FoundMovie()
    {
        var foundMovie = DatabaseContext.Movies.AsNoTracking().FirstOrDefault(movie => movie.Name == Name);
        return foundMovie is null ? new List<Movie>() : new List<Movie> { foundMovie };
    }

}