@page "/FoundMovies/{Name?}"
@inject DatabaseContext DatabaseContext

<PageTitle>Найденные фильмы</PageTitle>

@if (FoundMovie() is { Count: not 0 } movie)
{
    <MovieGrid Movies="@movie"/>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center; color: var(--secondary-text); font-weight: bold; font-size: 18px; flex-grow: 1; margin-top: 20px">
        По вашему запросу ничего не найдено :(
    </div>
}

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Name { get; set; }

    private List<Movie> FoundMovie()
    {
        var foundMovie = DatabaseContext.Movies.AsNoTracking().FirstOrDefault(movie => movie.Name == Name);
        return foundMovie is null ? new List<Movie>() : new List<Movie> { foundMovie };
    }

}