@page "/WatchLater"
@inject DatabaseContext DatabaseContext

<PageTitle>Отложенные</PageTitle>

<SortDropdown @bind-SortType="@SortType"/>

@if (SortedMovies() is { Count: not 0 } movies)
{
    <MovieGrid Movies="@movies"/>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center; color: var(--secondary-text); font-weight: bold; font-size: 18px; flex-grow: 1">
        У вас нет отложенных фильмов.
    </div>
}

@code {

    private SortType SortType { get; set; }

    private List<Movie> SortedMovies()
    {
        var shelvedMovies = DatabaseContext.Movies.AsNoTracking().Where(movie => movie.WatchLater == true);

        return SortType switch
        {
            SortType.AdditionOrder            => shelvedMovies.OrderByDescending(movie => movie.PublishDate).ToList(),
            SortType.ReverseAdditionOrder     => shelvedMovies.OrderBy(movie => movie.PublishDate).ToList(),
            SortType.ByIncreasingRating       => shelvedMovies.OrderByDescending(movie => movie.Score).ToList(),
            SortType.ByDescendingRating       => shelvedMovies.OrderBy(movie => movie.Score).ToList(),
            SortType.AlphabeticalOrder        => shelvedMovies.OrderBy(movie => movie.Name).ToList(),
            SortType.ReverseAlphabeticalOrder => shelvedMovies.OrderByDescending(movie => movie.Name).ToList(),
            _                                 => throw new ArgumentOutOfRangeException()
            };
    }

}