@page "/"
@inject DatabaseContext DatabaseContext

<PageTitle>Просмотренные</PageTitle>

<div style="display: flex; flex-wrap: wrap">
    <SortDropdown @bind-SortType="@SortType"/>
</div>

@if (SortedMovies() is { Count: not 0 } movies)
{
    <MovieGrid Movies="@movies"/>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center; color: var(--secondary-text); font-weight: bold; font-size: 18px; flex-grow: 1">
        У вас нет просмотренных фильмов.
    </div>
}

@code {

    private SortType SortType { get; set; }
    
    private List<Movie> SortedMovies()
    {
        var watchedMovies = DatabaseContext.Movies.AsNoTracking().Where(movie => movie.WatchLater == false);

        return SortType switch
        {
            SortType.AdditionOrder            => watchedMovies.OrderByDescending(movie => movie.PublishDate).ToList(),
            SortType.ReverseAdditionOrder     => watchedMovies.OrderBy(movie => movie.PublishDate).ToList(),
            SortType.ByIncreasingRating       => watchedMovies.OrderByDescending(movie => movie.Score).ToList(),
            SortType.ByDescendingRating       => watchedMovies.OrderBy(movie => movie.Score).ToList(),
            SortType.AlphabeticalOrder        => watchedMovies.OrderBy(movie => movie.Name).ToList(),
            SortType.ReverseAlphabeticalOrder => watchedMovies.OrderByDescending(movie => movie.Name).ToList(),
            _                                 => throw new ArgumentOutOfRangeException()
            };
    }

}