@page "/"
@inject DatabaseContext DatabaseContext

<PageTitle>Просмотренные</PageTitle>

<SortingDropDownList @bind-SortType="@SortType"/>

@if (SortedMovies() is {  } movies)
{
    <MovieGrid Movies="@movies"/>
}
else
{
    <div style="display: flex; justify-content: center; align-items: center; color: var(--secondary-text); font-weight: bold; font-size: 18px; flex-grow: 1">
        У вас нет просмотренных фильмов. Нажмите кнопку <span class="apply-button" style="background: var(--apply-button); margin: 0 5px; padding: 5px 10px">Добавить</span> в углу.
    </div>
}

@code {

    private SortType SortType { get; set; }

    protected override void OnParametersSet()
    {
        DatabaseContext.Movies
            .Include(x => x.Genres)
            .Include(x => x.Directors)
            .Include(x => x.Writers)
            .Include(x => x.Compositors)
            .Include(x => x.Actors)
            .Load();
    }

    private List<Movie> SortedMovies()
    {
        var watchedMovies = DatabaseContext.Movies.Where(movie => movie.WatchLater == false);

        return SortType switch
        {
            SortType.AdditionOrder            => watchedMovies.OrderByDescending(movie => movie.PublishDate).ToList(),
            SortType.ReverseAdditionOrder     => watchedMovies.OrderBy(movie => movie.PublishDate).ToList(),
            SortType.ByIncreasingRating       => watchedMovies.OrderByDescending(movie => movie.Score).ToList(),
            SortType.ByDescendingRating       => watchedMovies.OrderBy(movie => movie.Score).ToList(),
            SortType.AlphabeticalOrder        => watchedMovies.OrderBy(movie => movie.Name).ToList(),
            SortType.ReverseAlphabeticalOrder => watchedMovies.OrderByDescending(movie => movie.Name).ToList(),
            _                                 => throw new ArgumentOutOfRangeException()
            };
    }

}