@page "/"
@inject DatabaseContext DatabaseContext

<PageTitle>Просмотренные</PageTitle>

<div class="flex flex-wrap">
    <SortDropdown @bind-SortType="@SortType"/>
    <MovieTypeSortDropdown @bind-MovieType="@MovieType"/>
    <GenreSortDropdown @bind-Genre="@Genre"/>
</div>

@if (GetSortedMovies() is { Count: not 0 } movies)
{
    <MovieGrid Movies="@movies"/>
}
else
{
    @if (DatabaseContext.Movies.Any(movie => movie.WatchLater == false))
    {
        <div class="flex justify-center items-center text-neutral-600 dark:text-neutral-400 font-bold text-[18px] grow">
            Нет ничего, чтобы удовлетворяло текущим настройкам сортировки.
        </div>       
    }
    else
    {
        <div class="flex justify-center items-center text-neutral-600 dark:text-neutral-400 font-bold text-[18px] grow">
            У вас нет отложенных фильмов.
        </div>    
    }
}

@code {

    private SortType SortType { get; set; }
    private MovieType MovieType { get; set; }
    private string Genre { get; set; } = "all";

    private List<Movie> GetSortedMovies()
    {
        var watchedMovies = DatabaseContext.Movies
            .AsNoTracking()
            .Include(movie => movie.Genres)
            .Where(movie => movie.WatchLater == false);
        
        var sortedMovies = SortType switch
        {
            SortType.AdditionOrder            => watchedMovies.OrderByDescending(movie => movie.PublishDate).ToList(),
            SortType.ReverseAdditionOrder     => watchedMovies.OrderBy(movie => movie.PublishDate).ToList(),
            SortType.ByIncreasingRating       => watchedMovies.OrderByDescending(movie => movie.Score).ToList(),
            SortType.ByDescendingRating       => watchedMovies.OrderBy(movie => movie.Score).ToList(),
            SortType.AlphabeticalOrder        => watchedMovies.OrderBy(movie => movie.Name).ToList(),
            SortType.ReverseAlphabeticalOrder => watchedMovies.OrderByDescending(movie => movie.Name).ToList(),
            _                                 => throw new ArgumentOutOfRangeException()
            };

        var moviesSortedByType = MovieType switch
        {
            MovieType.All     => sortedMovies,
            MovieType.Film    => sortedMovies.Where(movie => movie.Type == MovieType.Film).ToList(),
            MovieType.Series  => sortedMovies.Where(movie => movie.Type == MovieType.Series).ToList(),
            MovieType.Show    => sortedMovies.Where(movie => movie.Type == MovieType.Show).ToList(),
            MovieType.Cartoon => sortedMovies.Where(movie => movie.Type == MovieType.Cartoon).ToList(),
            _                 => throw new ArgumentOutOfRangeException()
            };

        var moviesSortedByGenre = Genre switch
        {
            "all" => moviesSortedByType,
            _ => moviesSortedByType.Where(movie => movie.Genres.Select(genre => genre.Value).Any(genre => genre == Genre)).ToList()
            };

        return moviesSortedByGenre;
    }

}