<footer class="footer">
    <span class="footer__version">Версия 0.1</span>
    <div class="footer__container">
        <a class="footer__link">GitHub</a>
        <!--<a class="footer__link">Руководство</a>-->
        <a class="footer__link">Лицензия</a>
    </div>
</footer>