<div class="data-panel__score">
    @for (var index = 1; index <= 5; index++)
    {
        <ScoreStar Index="@index" CurrentScore="@Score" GetIndex="ChangeScore"/>    
    }
    <p class="data-panel__score-value">@Score/5</p>
</div>

@code {
    [Parameter]
    public int Score { get; set; }

    [Parameter]
    public EventCallback<int> ScoreChanged { get; set; }

    private async Task ChangeScore(int index)
    {
        Score = index;
        await ScoreChanged.InvokeAsync(index);
    }
}