<nav class="nav">
    <NavLink class="nav__link" href="" Match="NavLinkMatch.All">Просмотренные</NavLink>
    <NavLink class="nav__link" href="WatchLater">Смотреть позже</NavLink>
    <NavLink class="nav__link" href="Statistics">Статистика</NavLink>
</nav>