@inject ILocalStorageService LocalStorage
@inject IJSRuntime JsRuntime

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p class="text-neutral-600 dark:text-neutral-400">
                Извините, такой страницы не существует.
            </p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        await LocalStorage.RemoveItemAsync("SortType");
        await LocalStorage.RemoveItemAsync("MovieType");
        await LocalStorage.RemoveItemAsync("MovieTag");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var isDarkMode = await LocalStorage.GetItemAsync<bool>("DarkMode");
            await JsRuntime.InvokeVoidAsync("DarkThemeToggle", isDarkMode);
        }
    }
}