@inject DatabaseContext DatabaseContext

<div class="toolbar">
    <span class="toolbar__sort-label">Жанр: </span>
    <InputSelect class="toolbar__sort-list" @bind-Value="Genre" @onclick="() => GenreChanged.InvokeAsync(Genre)">
        <option value="all">любой</option>
        @foreach (var genre in DatabaseContext.Movies.SelectMany(movie => movie.Genres).Select(genre => genre.Value).Distinct())
        {
            <option value="@genre">@genre.ToLower()</option>
        }
    </InputSelect>
</div>

@code {

    [Parameter]
    public string Genre { get; set; } = "all";

    [Parameter]
    public EventCallback<string> GenreChanged { get; set; }

}